<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="blue no-top-mar">You are invited to the HP IGNITE IT with Smart Choice event receptions at HP Discover 2015, Las Vegas.</h3>
      <p>HP Discover, taking place in Las Vegas from 2&ndash;4 June, is our biggest customer event of the year, and we want you to be a part of it. At Discover, we showcase our latest technology, give customers and partners a preview of our upcoming innovations, host more than 500 sessions that can directly impact your business' bottom line, and fly out thousands of our best and brightest subject matter experts to be at your beck and call. You'll join more than 10,000 IT executives, managers, architects, engineers, and solution experts around the world for active, dynamic conversation on the hottest trends shaping the industry today – from cloud to Big Data to security to mobility.</p>
    </div>
  </div>
  <hr class="hr-thin">
  <div class="row">
    <div class="col-sm-12">
      <p><strong>RSVP</strong></p>
      <p>Please RSVP by submitting the information requested below.</p>
      <p class="pull-right req_not"><abbr title="required">*</abbr> Required Fields</p>
    </div>
    <%= simple_form_for @registrant, html: { novalidate: true } do |f| %>
    <div class="col-sm-6">
      <%= f.input :fname, label: 'First name', tabindex: 1 %>
      <%= f.input :cname, label: 'Company name' %>
      <%= f.input :email, label: 'Email' %>
    </div>
    <div class="col-sm-6">
      <%= f.input :lname, label: 'Last name' %>
      <%= f.input :title, label: 'Title' %>
      <%= f.input :mobile_phone, label: 'Mobile phone' %>
    </div>
    <div class="col-md-12">
      <p>Please select the receptions you plan to attend during IGNITE IT with Smart Choice at HP Discover 2015.</p>
    </div>
    <div class="col-sm-6">
      <p>
        <strong class="blue">IGNITE IT with Smart Choice Welcome Reception</strong><br />
        Sushi Samba Restaurant | The Venetian Hotel<br />
        Monday, 01 June<br />
        6:00&ndash;8:00 p.m.
      </p>
      <%= f.input :welcome_reception, label: 'I plan to attend (<a href="http://assets.mr-file-serve.com/HP/Discover%20Smart%20Choice%202015/IGNITE%20IT%20with%20SmartChoice%20-%20Welcome%20Reception.ics">download calendar reminder</a>)'.html_safe %>
    </div>
    <div class="col-sm-6">
      <p>
        <strong class="blue">IGNITE IT with Smart Choice Reception</strong><br />
        Lavo Restaurant | The Palazzo Hotel<br />
        Wednesday, 03 June<br />
        6:00&ndash;8:00 p.m.
      </p>
      <%= f.input :smart_choice_reception, label: 'I plan to attend (<a href="http://assets.mr-file-serve.com/HP/Discover%20Smart%20Choice%202015/IGNITE%20IT%20with%20Smart%20Choice%20-%20Closing%20Reception.ics">download calendar reminder</a>)'.html_safe %>
    </div>
    <% unless @registrant.errors[:selection].empty? %>
      <div class="col-md-12">
      </br>
        <span class="error">Please select at least one event to attend.</span>
      </div>
    <% end %>
    <div class="col-md-12">
      <%= f.button :submit, value: 'Register', class: 'button orange form-submit' %>
    </div>
    <% end %>
  </div>
</div>
