<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Thank you for registering.</h2>
      <p>A representative from HP will contact you within 48 hours with confirmation details.</p>
    </div>
  </div>
</div>
