//== Font Faces
//
// --------------------------------------------------
@font-face {
    font-family:'HPSimplifiedRegular';
    src:url("/fonts/hpsimplified_rg-webfont.eot");
    src:url("/fonts/hpsimplified_rg-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hpsimplified_rg-webfont.woff") format("woff"), url("/fonts/hpsimplified_rg-webfont.ttf") format("truetype"), url("/fonts/hpsimplified_rg-webfont.svg#HPSimplifiedRegular") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'HPSimplifiedBold';
    src:url("/fonts/hpsimplified_bd-webfont.eot");
    src:url("/fonts/hpsimplified_bd-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hpsimplified_bd-webfont.woff") format("woff"), url("/fonts/hpsimplified_bd-webfont.ttf") format("truetype"), url("/fonts/hpsimplified_bd-webfont.svg#HPSimplifiedBold") format("svg");
    font-weight:normal;
    font-style:normal;
}

/*LIGHT*/
 @font-face {
    font-family:'HPSimplifiedLight';
    src: url("/fonts/latin-e-light-eot.eot");
    /* IE9 compat */
    src: url("/fonts/latin-e-light-eot.eot?#iefix") format("embedded-opentype"), url("/fonts/latin-e-light-woff.woff") format("-woff.woff"), url("/fonts/latin-e-light-ttf.ttf") format("truetype");
    /*iOS, Android, Safari*/
    font-weight: normal;
    font-style: normal;
}



// --------------------------------------------------
//
//== Variable Declarations
//
// --------------------------------------------------


//== Fonts
//
// --------------------------------------------------
$hpReg: "HPSimplifiedRegular", arial, san-serif !default;
$hpBold: "HPSimplifiedBold", arial, san-serif !default;
$hpLight: "HPSimplifiedLight", arial, san-serif !default;


//== Colors
//
// --------------------------------------------------
$hpBlue:           #0096d6 !default;    // hp blue
$hpBlueHover:      #006699 !default;    // hp blue:hover
$black:            #000000 !default;    // black
$hpDarkGray:       #767676 !default;    // hp dark gray
$hpMediumGray:     #b9b8bb !default;    // hp medium gray
$hpLightGray:      #e5e8e8 !default;    // hp light gray
$white:            #ffffff !default;    // white
$hpOrange:         #d7410b !default;    // hp orange
$hpOrangeHover:    #c1401a !default;    // hp orange:hover
$hpPurple:         #822980 !default;    // hp purple
$hpGreen:          #008424 !default;    // hp green
$transparent:      transprent !default;



//== Buttons
//
// --------------------------------------------------
.button,
a.button,
button.button {
  padding: 8px 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
  border: none;
  cursor: pointer;
  color: $white;
  font-family: $hpBold;
  display: inline-block;
  letter-spacing: 1px;

  &:hover {
    text-decoration: none;
  }

  &.long {
    width: 100%;
    text-align: center;
  }

  &.gray {
    background: $hpDarkGray;

    &:hover {
      background: #5A5A5A;
    }
  }

  &.orange {
    background: $hpOrange;

    &:hover {
      background: $hpOrangeHover;
    }

    &:disabled {
        background: #e86e54;
    }
  }

  &.blue {
    background: $hpBlue;

    &:hover {
      background: $hpBlueHover;
    }
  }
}

h1 {
  font-family: $hpBold;
  font-size: 2em;
}

h2 {
  font-family: $hpBold;
  font-size: 1.7em;
}

h3 {
  font-family: $hpBold;
  font-size: 1.42em;
}

h4 {
  font-family: $hpBold;
  font-size: 1.23em;
}

h5 {
  font-family: $hpReg;
  font-size: 1.23em;
}

h6 {
  font-family: $hpReg;
  font-size: 1.14em;
}

strong {
  font-family: $hpBold;
}

ul, ol {
  padding-left: 35px;
}

.footnotes {
  font-size: 12px;
}

header {
  background-color: $hpBlue;
}

#header {
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    float: left;
  }

  h2 {
    font-family: $hpBold;
    color: $white;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 35px;
  }
}

.t {
  display: table;
  width: 100%;

  .tc {
    display: table-cell;
    vertical-align: middle;
  }
}

body {
  font-size: 16px;
  font-family: $hpReg;
  color: $black;
}

footer {
  background-color: $hpLightGray;
  text-align: right;
  font-family: $hpReg;
  color: $hpDarkGray;
  font-size: 14px;
  padding: 50px 0;

  .sharing-container {
    margin-bottom: 20px;
  }

  .footer_links {
    padding: 0;

    li {
      display: inline-block;
    }
  }

  a {
    color: $hpDarkGray;
  }
}
