/* Here be the main scss file, arrrhh */
.bg-blue {
  background-color: $hpBlue;
  background-color: rgba(0,150,214,0.93);
}

.brdr_l {
  border-left: 1px solid $hpLightGray;
}

.red {
  color: $hpOrange;
}

.blue {
  color: $hpBlue;
}

.text-right {
  text-align: right;
}

.no-top-mar {
  margin-top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#body_content {
  margin: 90px 0 0 0;
  padding: 30px 0;
  width: 100%;
}

.banner {
  width: 100%;
  max-width: 1140px;
  height: 275px;
  background: #ffffff image-url('banner.jpg') no-repeat;
  background-position: center center;
  background-size: 100% auto;
  margin: 0 auto 30px auto;
}

.req_not {
  font-size: 12px;
}

.description {
  font-size: 12px;
  color: #767676;
  margin: -20px 0 20px 0;
}

.hr-thin {
  height: 1px;
  background-color: $hpLightGray;
  margin: 20px 0 30px 0;
}

footer {
  padding: 50px 0 20px 0;

  p {
    margin: 0;
  }
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  width: 100%;
  color: $hpDarkGray;
  font-size: 14px;
  font-family: $hpLightGray;
  padding: 5px;
}

input[type='text'],
input[type='email'],
input[type='checkbox'],
input[type='tel'],
div.radio_buttons,
select,
textarea {
  margin-bottom: 25px;
}

select {
  display: block;
}

.form-submit,
input[type='checkbox'] {
  margin-right: 15px;
}

abbr,
span.error {
  color: $hpOrange;
}

span.error {
  position: relative;
  top: -25px;
  font-size: 14px;
  font-style: italic;
}
