@media screen and (min-width: 1200px) { 
  .banner {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) { 
  .banner {
    height: 185px;
  }
}
