<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HP Discover 2015 - IGNITE IT with Smart Choice</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header id="header-wrapper">
    <div class="container">
      <div class="row">
        <div id="header" class="col-md-12 title">
          <%= image_tag "hp-circle-white.png", size: "50", :class => "logo" %>
          <h2>HP Discover 2015 - IGNITE IT with Smart Choice</h2>
        </div>
      </div>
    </div>
  </header>

  <section id="body_content">
    <div class="banner"></div>
    <%= yield %>
  </section>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <ul class="footer_links">
          <li><a href="http://www8.hp.com/us/en/home.html" target="_blank">HP.com</a></li>
          <li>&nbsp; | &nbsp;</li>
          <li><a href="http://www8.hp.com/us/en/privacy/privacy.html" target="_blank">Privacy</a></li>
          <li>&nbsp; | &nbsp;</li>
          <li><a href="http://www8.hp.com/us/en/privacy/terms-of-use.html" target="_blank">Terms of use</a></li>
        </ul>
        <p>&copy; <%= Time.now.year %> Hewlett-Packard Development Company, L.P.</p>
      </div>
    </div>
  </footer>

</body>
</html>
